/*************************************************************/
/* Layout base */
/*************************************************************/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;
}

header {
    display: flex;
    background-color: rgb(190, 190, 190);
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
}

#logo-y-nombre {
    display: flex;
    border: 1px solid red;
    align-items: center;
    gap: 15px;
}

#logo {
    height: 40px;
    width: auto;
    border: 1px solid purple;
}

h4, nav {
    position: relative;
    top: 18px;
}

a , a:active, a:link{
    text-decoration: none;
    color: black;
}

main {
    margin: 15%;
    text-align: center;
}
/*************************************************************/
/* Header general */
/*************************************************************/
#menu-izquierda {
    border: 1px solid blue;
}

#menu-medio {
    display: flex;
    margin: 0 auto 0 auto;
    position: relative;
    top: 18px;
}

#menu-derecha {
    display: flex;
    border: 1px solid green;
    margin-left: auto;
}

#menu-izquierda button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
/*************************************************************/

/*************************************************************/